%h1 List

:javascript
  $(document).ready(function() {
      $("table")
        .tablesorter({widthFixed: true, widgets: ['zebra']})
        .tablesorterPager({container: $("#pager")});
  });

%table{:id => "table", :class => "tablesorter"}
  %thead
    %tr
      %th Common Name
      %th Binomial
  %tbody
    - @seen.each do |bird|
      %tr
        %td
          = link_to "#{bird['common_name']}", "/species/#{bird['binomial'].gsub(/\s+/, '_')}"
        %td
          = bird['binomial']

%div{:id => "pager", :class => "pager"}
  %form
    = image_tag("/images/first.png", :class => "first")
    = image_tag("/images/prev.png",  :class => "prev")
    %input{:type => "text", :class => "pagedisplay"}
    = image_tag("/images/next.png",  :class => "next")
    = image_tag("/images/last.png",  :class => "last")
    %select{:class => "pagesize"}
      %option{:value => "5"} 5
      %option{:selected => "selected", :value => "10"} 10
      %option{:value => "20"} 20
      %option{:value => "40"} 40
